body{
    background-color: plum;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    background-color: purple;
    color: white;
    padding: 6px;
    border-radius: 12px;
    border: 2px solid rgb(49,0,49);
}
table{
    border-radius: 5px;
    padding: 4px;
    margin: 0px;
    text-align: center;
    border: 2px solid rgb(49,0,49);
    margin: 0px;
}
th{
    background-color: purple;
    color: white;
    padding: 12px;
    border-radius: 4px;
    border: 2px solid rgb(49,0,49);
    text-align: center;
    margin: 0px;
}
td{
    border-radius: 4px;
    padding: 12px;
    border: 7px;
    border: 2px solid rgb(49,0,49);
    text-align: center;
    margin: 0px;
}
footer{
    text-align: center;
    color: gray;
}
hr{
    height: 1px;
    background-color: purple;
}
a{
    color:purple ;
}
mark{
    border-radius: 4px;
    background-color: purple;
    color: white;
    padding: 4px;
    font-size: medium;
}